!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "Hackathonukah"
    %meta{name: "description", content: "Hackathonukah is an event production organization that creates fun, open, and overly-themed hackathons and technology events."}
    %meta{name: "author", content: "Donny and Oren Kanner"}
    %link{href: "http://hackathonukah.com", rel: "canonical"}
    %link{href: "/assets/images/favicon.ico", rel: "shortcut icon"}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css", rel: "stylesheet"}
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    = partial "partials/navbar"
    = yield
    = partial "partials/footer"

    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
    = google_analytics_tag
